---
redirect_from: /ceremony
---
{% include header.html title="The Ceremony" %}		

		<!-- Ceremony main page -->
	<section id="ceremony_main" class="main style3 primary">
		<div class="content container clearbg box">
			<header>
				<h2>Cerimonia in chiesa	e location</h2>
			</header>

			<p>La cerimonia in chiesa sarà formalizzata alla <a href="https://goo.gl/maps/UZUD3FiLAYuhqoYD7">Chiesa Grande di Scandiano</a>. Il matrimonio inizierà alle <strong>10:30</strong>. Vi consigliamo di venire in anticipo per stare insieme ed assistere all'entrata della sposa.. e alle lacrime dello sposo</p>

			<form action="https://goo.gl/maps/UZUD3FiLAYuhqoYD7"
                >
                	<input class="btn btn-accent btn-small" type="submit" class="fa fa-map-marker" value="Indicazioni Chiesa Grande" style="font-weight:bold";
				/>
            </form>

			<p>Dopo la cerimonia, i consueti saluti e ci sposteremo alla  <a href="https://goo.gl/maps/mSBx14fja5aH3wJM6">Corte del Mulino</a>. Il pranzo in location inizierà verso le 13:00.
			Preparatevi per pranzare, ballare e divertirvi! 

			<form action="https://goo.gl/maps/mSBx14fja5aH3wJM6"
                >
                	<input class="btn btn-accent btn-small" type="submit" class="fa fa-map-marker" value="Corte del Mulino" style="font-weight:bold"
				/>
			</form>

			<p>&nbsp;</p>
			
			<h2>CONFERME</h2>
			<p>Non dimerticarti di darci la conferma della vostra presenza per il 5 Giugno!</p>
		</div>
	</section>
			
<!-- Footer -->
{% include footer.html %}

