---
---

{% include header.html title="Images" %}

		<!-- Engagement photos -->
			<section id="engagement_photos" class="main style3 primary">
				<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
					<header>
						<h2>Images</h2>
					</header>
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<div class="container small gallery">
							<!--<div class="row images">
								<div class="3u"><a href="images/fulls/01.jpg" class="image full"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/02.jpg" class="image full"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/03.jpg" class="image full"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/04.jpg" class="image full"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a></div>
							</div>
							<div class="row images">
								<div class="3u"><a href="images/fulls/05.jpg" class="image full l"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/06.jpg" class="image full r"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/01.jpg" class="image full"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
								<div class="3u"><a href="images/fulls/02.jpg" class="image full"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
								
							</div>-->
<div class="row images">
	<div class="3u"><a href="images/FotoEzioElisa/wedding3.jpeg" class="image full"><img src="images/FotoEzioElisa/wedding3.jpeg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/wedding.jpeg" class="image full"><img src="images/FotoEzioElisa/wedding.jpeg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/wedding2.jpeg" class="image full"><img src="images/FotoEzioElisa/wedding2.jpeg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/sea.jpg" class="image full"><img src="images/FotoEzioElisa/sea.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
</div>

<div class="row images">
	<div class="3u"><a href="images/FotoEzioElisa/right.jpeg" class="image full"><img src="images/FotoEzioElisa/right.jpeg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/left.jpg" class="image full"><img src="images/FotoEzioElisa/left.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/img3.jpeg" class="image full"><img src="images/FotoEzioElisa/img3.jpeg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/img2.jpeg" class="image full"><img src="images/FotoEzioElisa/img2.jpeg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
</div>

<div class="row images">
	<div class="3u"><a href="images/FotoEzioElisa/hands.jpg" class="image full"><img src="images/FotoEzioElisa/hands.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="/images/FotoEzioElisa/20221109_204730.jpg" class="image full"><img src="images/FotoEzioElisa/20221109_204730.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
</div>

	<div class="3u"><a href="images/FotoEzioElisa/20220902_175501.jpg" class="image full"><img src="images/FotoEzioElisa/20220902_175501.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href=images/FotoEzioElisa/20210911_113445.jpg" class="image full"><img src="images/FotoEzioElisa/20210911_113445.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210828_101915.jpg" class="image full"><img src="images/FotoEzioElisa/20210828_101915.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210826_111838.jpg" class="image full"><img src="images/FotoEzioElisa/20210826_111838.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
</div>
							
<div class="row images">
	<div class="3u"><a href="images/FotoEzioElisa/20210826_111810.jpg" class="image full"><img src="images/FotoEzioElisa/20210826_111810.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210825_124034.jpg" class="image full"><img src="images/FotoEzioElisa/20210825_124034.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210822_121330.jpg" class="image full"><img src="images/FotoEzioElisa/20210822_121330.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/443wr.jpg" class="image full"><img src="images/FotoEzioElisa/443wr.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a>
</div>

<div class="row images">
	<div class="3u"><a href="images/FotoEzioElisa/20210604_120828.jpg" class="image full"><img src="images/FotoEzioElisa/20210604_120828.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210603_195741.jpg" class="image full"><img src="images/FotoEzioElisa/20210603_195741.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210603_115717.jpg" class="image full"><img src="images/FotoEzioElisa/20210603_115717.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
	<div class="3u"><a href="images/FotoEzioElisa/20210502_140113.jpg" class="image full"><img src="images/FotoEzioElisa/20210502_140113.jpg" title="Photos by Jeannine Marie" alt="Engagement photo" /></a></div>
</div>
							
		</div>
	</div>
</section>	

{% include footer.html %}
