---
---
{% include header.html title="Benvenuti!" %}

		<!-- Intro -->
			<section id="home" class="main style1 dark">
				<div class="content container small shadow">
					<header>
						<h2><span class="monospace">Ezio</span> <span class="fancy">&</span> Elisa</h2>
						<h3 class="typewriter">Si sposano!</h3>
						<h3 class="typewriter">Lunedì 5<sup>th</sup> Giugno, 2023</h3>
					</header>
					<p>Benvenuti! Il nostro giorno è finalmente arrivato. Lascia un messaggio sulla <a href="guestbook.html">nostra bacheca online</a>!
					</p>

					<table width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td align="center"><img src="http://i.countdownmail.com/29egfw.gif" style="display:inline-block!important;width:90%!important;max-width:602px!important;" border="0" alt="countdownmail.com"/></td></tr></tbody></table>	

					<footer>
						<a href="#noi" class="button style2 down"></a>
					</footer>
				</div>
			</section>

			<!-- Our story -->
			<section id="noi" class="main style2 right fullscreen" >
				<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
					<header><h2>Our Story</h2></header>
					<p> RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? RACCONTO? &hellip;</p>

					<p><a href="engagement_photos">Immagini</a></p>
					
				</div>
			</section>

			<!-- Images -->
			<section id="adventure_gallery" class="main style3 primary">
				<div class="content container clearbg">
					<header style=" padding-top: 50px; ">
						<h2>Immagini di noi!</h2>
					</header>
					
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<a href="adventures.html">
						<div class="container small animated">
							<div class="row flush images">
								<div class="6u"><a href="images/FotoEzioElisa/wedding3.jpeg" class="image full l"><img src="images/FotoEzioElisa/wedding3.jpeg" title="Matrimonio amici" alt="" /></a></div>
								<div class="6u"><a href="images/FotoEzioElisa/hands.jpg" class="image full r"><img src="images/FotoEzioElisa/hands.jpg" title="Proposta" alt="" /></a></div>
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/FotoEzioElisa/background1.jpg" class="image full r"><img src="images/FotoEzioElisa/background1.jpg" title="Carry on" alt="" /></a></div>
								<div class="6u"><a href="images/FotoEzioElisa/right.jpeg" class="image full l"><img src="images/FotoEzioElisa/right.jpeg" title="Air Lounge" alt="" /></a></div>
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/FotoEzioElisa/left.jpg" class="image full r"><img src="images/FotoEzioElisa/left.jpg" title="Bent IX" alt="" /></a></div>
								<div class="6u"><a href="images/FotoEzioElisa/wedding.jpeg" class="image full l"><img src="images/FotoEzioElisa/wedding.jpeg" title="The sparkling shell" alt="" /></a></div>
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/FotoEzioElisa/background4.jpg" class="image full r"><img src="images/FotoEzioElisa/background4.jpg" title="Bent IX" alt="" /></a></div>
								<div class="6u"><a href="images/FotoEzioElisa/443wr.jpg" class="image full l"><img src="images/FotoEzioElisa/443wr.jpg" title="The sparkling shell" alt="" /></a></div>
							</div>
						</div>
						</a>
					<p>&nbsp;</p>


					

				</div>
			</section>	
			<!-- end mages -->

			<!-- Proposal -->
			<section id="proposal" class="main style2 left fullscreen">
				<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
					<header><h2>The Proposal &mdash;<br> Her Story</h2></header>
					<p style="font-size:85%"> I knew something was up when we were getting ready to go out to dinner the 
					night of our 4 year anniversary and suddenly Jason declared that he had no
					black socks, and so he must immediately run to Target, and then bolted out
					the door. It was quite un-Jason-like, so I was pretty suspicious, but also really hungry for dinner.
					Dinner, as it turned out, was at this lovely restaurant called Forepaugh's in St Paul,
					and we got through the meal without any surprises, so I started to think that 
					all of my suspicions were for naught. But then the dessert menu came, and
					Jason told me not to order because he had other plans for desssert.
					But, before dessert, he asked if I would like to go explore the upstairs of the restaurant
					(which is apparently a haunted house). I'm a sucker for 19th century 
					architecture, so we went upstairs to explore. I was investigating the upper
					landing when Jason informed me that he had an important question that he had
					been meaning to ask, and my heart jumped, of course. But then
				       	he told me that he'd been 
					designing a website and he wanted to ask what I thought. I had thought
					he was teasing, so I punched him. However, he actually did have a website
					on his phone that he wanted me to see, and on the bottom was a sweet
					little message and the words "Will you marry me?" and I burst into tears
					as soon as I saw him get down on one knee. After we calmed down, we called
					our parents, cried more, and then we went to dessert, which turned out to
					be Perkins and our friends were there! We celebrated with tears, hugs, and pie. 
					Also, it turned out the website he showed me on his phone was this one:
					jasonandali.aretotallygettingmarried.com! So we've re-vamped it to be
					our wedding website!</p>
				</div>
			</section>

			<section id="proposal_jason" class="main style2 right fullscreen">
				<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
					<header><h2>His Story</h2></header>
					<p style="font-size:85%">Okay, so here's the thing about the socks. There was a mix-up with the
					jewelry store, so they didn't have the ring ready when I went to get it that
					morning. They said they'd try to get it sorted out as soon as possible,
					but I had to get home and get ready for dinner. Then, just before I got
					home, they called and said that it was ready sooner than expected! So I had
					to come up with a way to go pick it up without Ali noticing. I ran through
					a bunch of plans in my head&hellip; I could just propose as we headed out the door,
					and say that we needed to go get the ring, I could blindfold her and say
					that the restaurant was a surprise, and then make a "pit stop"&hellip; Ultimately,
					I settled on the socks. In fairness, I legitimately only had one black sock
					in my drawer, so it wasn't a total lie.</p>

					<p style="font-size:85%">At that point, I hadn't quite started the ball rolling, so I had a decision
					to make &mdash; propose tonight, or delay it? With the ring ending up getting 
					finished early, I decided that all signs pointed to yes. I had already asked
					her parents' permission, so I called my parents to let them know and sent a
					text to our friends to tell them and ask them out to Perkins for dessert.
					The whole thing was fairly improvised. I had put together the website and my
					note, but other than that, I didn't have a firm plan. I thought about asking
					early on in the dinner, so that she could be excited about it, but it just
					never ended up feeling right. When we overheard the table next to us talking
					to their server about exploring the house/restaurant, it all clicked into place.
					It's a good thing I waited, because I don't know if we could have made it
					through dinner otherwise. We dashed off to Perkins, calling our parents
					along the way, and we were treated to some complimentary pies &mdash; a 
					perfect end to the night.</p>
				</div>
			</section>

			<!-- Engagement photos blurb -->
			<section id="engagement_photos" class="main style3 dark shadow primary"  style="background-color: rgb(186, 202, 207);">
				<div class="content container">

					<header>
						<h2>Foto di noi</h2> <!-- Note: Maybe use rgb(186, 202, 207); as the background? -->
					</header>
					
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<a href="engagement_photos.html">
						<div class="container small animated">
							<div class="row flush images">
								
								<div class="6u"><img class="image full r" src="images/FotoEzioElisa/logo alloro3-ok.png" /></div>
								<div class="6u"><img class="image full r" src="images/FotoEzioElisa/img2.jpeg"/></div>
							</div>
							<div class="row flush images">
								<div class="6u"><img class="image full l" src="images/FotoEzioElisa/443wr.jpg"/></div>
								<div class="6u"><img class="image full l" src="images/FotoEzioElisa/wedding2.jpeg" /></div>
							</div>
							<div class="row flush images">
								<div class="6u"><img class="image full l" src="images/FotoEzioElisa/right.jpeg"/></div>
								<div class="6u"><img class="image full r" src="images/FotoEzioElisa/left.jpg"/></div>
							</div>
						</div>
						</a>

					

				</div>
			</section>	


			<!-- Cerimonia -->
			<section id="ceremony" class="main style3 dark">
				<div class="content container small shadow">
					<header>
						<h2>Cerimonia in chiesa	e location</h2>
					</header>
		
					<p>La cerimonia in chiesa sarà formalizzata alla <a href="https://goo.gl/maps/UZUD3FiLAYuhqoYD7">Chiesa Grande di Scandiano</a>. Il matrimonio inizierà alle <strong>10:30</strong>. Vi consigliamo di venire in anticipo per stare insieme ed assistere all'entrata della sposa.. e alle lacrime dello sposo</p>
		
					<form action="https://goo.gl/maps/UZUD3FiLAYuhqoYD7"
						>
							<input class="btn btn-accent btn-small" type="submit" class="fa fa-map-marker" value="Indicazioni Chiesa Grande" style="font-weight:bold";
						/>
					</form>
		
					<p>Dopo la cerimonia, i consueti saluti e ci sposteremo alla  <a href="https://goo.gl/maps/mSBx14fja5aH3wJM6">Corte del Mulino</a>. Il pranzo in location inizierà verso le 13:00.
					Preparatevi per pranzare, ballare e divertirvi! 
					Per il parcheggio.... //TODO
		
					<form action="https://goo.gl/maps/mSBx14fja5aH3wJM6"
						>
							<input class="btn btn-accent btn-small" type="submit" class="fa fa-map-marker" value="Corte del Mulino" style="font-weight:bold"
						/>
					</form>
					
					<p>&nbsp;</p>

					Nel frattempo non dimenticare di lasciare un commento sul nostro 
					<a href="guestbook.html"><bold>libro degli ospiti!</bold></a>
					
					<h2>CONFERME</h2>
					<p>Non dimerticarti di darci la conferma della vostra presenza per il 5 Giugno!</p>
				</div>
			</section>


			<section id="wedding_party" class="main style3 primary">
				<div class="content container">
					<header>
						<h2>Contatti!</h2>
					</header>
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<div class="container small gallery">
							<div class="row flush images">
								<div class="6u"><a href="images/fulls/andy.jpg" class="image full r"><img src="images/thumbs/andy.jpg" title="Andy Tingblad" alt="" /></a></div>
								<div class="6u"><a href="images/fulls/kendra.png" class="image full l"><img src="images/thumbs/kendra.png" title="Kendra Marsh" alt="" /></a></div>
								
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/fulls/ashley.jpg" class="image full r"><img src="images/thumbs/ashley.jpg" title="Ashley Whiting" alt="" /></a></div>
								<div class="6u"><a href="images/fulls/ginelle.jpg" class="image full l"><img src="images/thumbs/ginelle.jpg" title="Ginelle Newstrom" alt="" /></a></div>
								
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/fulls/eric.jpg" class="image full r"><img src="images/thumbs/eric.jpg" title="Eric Anderson" alt="" /></a></div>
								<div class="6u"><a href="images/fulls/sarah.jpg" class="image full l"><img src="images/thumbs/sarah.jpg" title="Sarah Rolek" alt="" /></a></div>
								
							</div>
						</div>

						<p style=" margin-top: 100px; font-size: 20pt;">Thanks for visiting! We'd love it if you <a href="guestbook.html">signed our guestbook!</a></p>

						<img width=200px src="images/fall-leaf.png"/>

				</div>
			</section>

{% include footer.html %}
